@CHARSET "UTF-8";
body{
	background-color:#DDFFFF;
}
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCCCCC;
    border-radius: 1em;
}
form.blue{

	background-color:#33CCFF;
}
form div + div {
    margin-top: 1em;
}
fieldset{
	border: hidden;
}
label {
    /* To make sure that all label have the same size and are properly align */
    display: inline;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text field */
    width: 300px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
    /*float: right;*/
}
input.vertical{
    width: 1em;
    display:inline;

}
table{
	padding:10px;
	border:solid #cccccc 1px;
	border-radius:5px;

}
td{
	width:50%;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on every browser */
    resize: vertical;
}

.left{
	float: left;
}
.right{
	float: right;
}
.button {
    /* To position the buttons to the same position as the text fields */
    padding-left: 90px; /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    border-radius: 3em;
}